@page "/"

@inject DataSource DataSource


<div class="table-container">
    <SimpleTable Collection=@_data />
</div>

<SimpleForm />


@code {

    private List<DataModel>? _data;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _data = DataSource.GetData();
        
        DataSource.OnChange += () => InvokeAsync(()=>{
            _data = DataSource.GetData();
            StateHasChanged();
        });
    }

}